<div class="container mt-3">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#completed-list">Completed</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <form #todoForm="ngForm" novalidate (submit)="todoSubmit(todoForm.value); todoForm.resetForm();" name="todoForm">
        <div class="form-group">
          <h1 class="text-center text-primary">To-do List</h1>
          <div class="input-group-prepend">
            <input type="text" #todo class="form-control" placeholder="Add To-do item" name="todo" ngModel
              ng-required="true" ng-minlength="1">
            <span class="input-group-text" (click)="addTodo(todo.value); todoForm.resetForm();" ng-disabled="todoForm.$invalid">
              <i class="material-icons" id="add-task-icon">add</i></span>
          </div>
        </div>
        <div class="data">
          <ul class="list-unstyled">
            <li *ngFor="let todo of todoArray">{{ todo }}<i (click)="deleteItem(todo)" class="material-icons"
                id="delete-icon" data-toggle="tooltip" title="Delete Item">delete</i>
              <i (click)="addToCompleted(todo)" class="material-icons" id="check-mark" data-toggle="tooltip"
                title="Mark as Completed">check</i></li>
          </ul>
        </div>
        <div *ngIf="todoArray.length == 1">{{ todoArray.length }} item left</div>
        <div *ngIf="todoArray.length > 1">{{ todoArray.length }} items left</div>
      </form>
    </div>
    <div id="completed-list" class="container tab-pane">
      <h1 class="text-center text-primary">Completed Tasks</h1>
      <div class="data">
        <ul class="list-unstyled">
          <li *ngFor="let completed of completedArray"><del>{{ completed }}</del><i (click)="removeCompleted(completed)"
              class="material-icons" data-toggle="tooltip" title="Delete Item">delete</i></li>
        </ul>
      </div>
      <div *ngIf="completedArray.length >= 1">
        <button class="btn-primary" (click)="removeAllCompleted(completedArray)">Clear All</button>
      </div>
    </div>
  </div>
</div>