/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body { 
    padding: 0; 
    margin: 0;
} 

form { 
    max-width: 30em; 
    margin: -4em auto;
    position: relative; 
    background: #f4f4f4; 
    padding: 2em 3em;
}

form h1 {    
    font-family: "Raleway";    
    color:#006cf9; 
}

form input[type=text]::placeholder {   
    font-family: "Raleway";   
    color:#666; 
}
    
form .data {    
    margin-top: 1em;
}

form .data li { 
    background: #fff; 
    border-left: 4px solid #006cf9; 
    padding: 1em; margin: 1em auto; 
    color: #666; 
    font-family: "Raleway";
}

form .data li i {    
    float: right;    
    color: #888;    
    cursor: pointer;
}

form .input-group-text {    
    background: #006cf9;    
    border-radius: 50%;    
    width: 5em;    
    height: 5em;    
    padding: 1em 23px;    
    color: #fff;    
    position: absolute;    
    right: 13px;    
    top: 68px;    
    cursor: pointer;
} 

form .input-group-text:hover {
    background-color: #0955b8;
}

form .input-group-text i {    
    font-size: 2em;
}

form .form-control { 
    height: 3em;    
    font-family: "Raleway";
}

form .form-control:focus { 
    box-shadow: 0;
}

#check-mark {
    margin-right: 10px;
}

#check-mark:hover {
    color: lime;
}

#delete-icon:hover {
    color: red;
}

.nav-tabs {
    max-width: 30em;
    margin: 4em auto;
}

.nav-link {
    background-color: #dfdbdb;
}

.nav-link.active {
    background-color: #f4f4f4;
}

.nav-tabs .nav-link {
    border: none;
}

#completed-list {
    max-width: 30em; 
    margin: -4em auto; 
    position: relative; 
    background: #f4f4f4; 
    padding: 2em 3em;
}

#completed-list h1 {
    font-family: "Raleway";    
    color:#006cf9;
}

#completed-list .data {    
    margin-top: 1em;
}

#completed-list .data li { 
    background: #fff; 
    border-left: 4px solid #006cf9; 
    padding: 1em; margin: 1em auto; 
    color: #666; font-family: "Raleway";
}

#completed-list .data li i {    
    float: right;    
    color: #888;    
    cursor: pointer;
}

#completed-list .data li i:hover {    
    color: red;
}